<h1>Audio</h1>

<p>In the gray box below an audio player should appear. In Safari it does not. Only after a refresh of the page it appears.</p>

<div style="background-color: gray">
  <audio src="/audio.mp3" controls />
</div>

<p>Piano Strings Inspiring by Lite Saturation</p>
